{% extends "templates/navbar_page.njk" %}

{% block body %}
{{super()}}
<div class="container">
    <div class="jumbotron">
        <h1>Home Page</h1>
        <p>介绍网站基本情况</p>
    </div>
</div>
{% endblock %}