{% extends "basic_page.njk" %}

{% block body %}
{{ super() }}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">菜鸟教程</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul id="navbar-left" class="nav navbar-nav">
                <li id="navitem-home"><a href="/">首页</a></li>
                <li id="navitem-resolve"><a href="#">解题</a></li>
                <li id="navitem-download"><a href="/download.html">下载</a></li>
                <li id="navitem-more" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        更多
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">论坛</a></li>
                        <li><a href="#">教程</a></li>
                        <li><a href="#">问题报告</a></li>
                        <li class="divider"></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="navbar-right" class="nav navbar-nav navbar-right">
                <li><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    if (location.pathname === '/download.html') {
        $('#navitem-download').addClass('active');
    }
    else if (location.pathname === '/' || location.pathname==='/index.html') {
        $('#navitem-home').addClass('active');
    }

    var menuData = localStorage.getItem('menu');
    menuData && (menuData=JSON.parse(menuData));
    if (menuData && menuData.expired > Date.now()){
        setNavMenu(menuData);        
    }
    else if (localStorage.getItem('user_token') && !menuData) {
        $.ajax({
            type: "get",
            url: "/api/user_menu",
            success: function (data) {
                setNavMenu(data);
                localStorage.setItem('menu', JSON.stringify(data));
            },
            error: function (data) {
                console.log("User have not login.");
            }
        });
    }    

    function setNavMenu(data) {
        $('#navbar-right').remove();
        $('#navbar-collapse').append(data.menu);
        $('#navbaritem-signout').click(function () {
            localStorage.removeItem('menu');
            localStorage.removeItem('user_token');
            location = '/';
        });
    }    
</script>    
{% endblock %}