<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ username }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for menuitem in menuitems %}
                {% if menuitem.id and menuitem.herf %}
                    <li><a id="{{menuitem.id}}" href="{{ menuitem.herf }}">{{ menuitem.text }}</a></li>
                {% elif menuitem.herf %}
                    <li><a href="{{ menuitem.herf }}">{{ menuitem.text }}</a></li>
                {% elif menuitem.id%}
                    <li><a id="{{menuitem.id}}">{{ menuitem.text }}</a></li>
                {% endif%}
            {% endfor %}
        </ul>
    </li>
</ul>